.right-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 10px;  
    width: 200px;

    .drum-pad {
        border: 3px solid black;
        padding: 15px;
    }
}